# ETL
    
- Primeramente se realiza una transformacion de los datos que particularmente se van a usar en este proyecto, dichos archivos son los siguientes:

    1. Acceso a Internet fijo por tecnología y provincia.
    2. Accesos a Internet fijo por tecnología y localidad.
    3. Listado_locadades_conectividad_internet.
    4. Penetración de Internet fijo accesos por cada 100 hogares.

In [67]:
import pandas as pd
import func
import chardet

import warnings
warnings.filterwarnings("ignore")

In [68]:
# Encouding archivos
with open("../data/Acceso a Internet fijo por tecnología y provincia.csv", 'rb') as f:
    result = chardet.detect(f.read())
    encoding = result['encoding']
print(f"La codificación del archivo steam_games es: {encoding}")

with open("../data/Accesos a Internet fijo por tecnología y localidad.csv", 'rb') as f:
    result = chardet.detect(f.read())
    encoding = result['encoding']
print(f"La codificación del archivo steam_games es: {encoding}")

with open("../data/Listado_locadades_conectividad_internet.csv", 'rb') as f:
    result = chardet.detect(f.read())
    encoding = result['encoding']
print(f"La codificación del archivo steam_games es: {encoding}")

with open("../data/Penetración de Internet fijo accesos por cada 100 hogares.csv", 'rb') as f:
    result = chardet.detect(f.read())
    encoding = result['encoding']
print(f"La codificación del archivo steam_games es: {encoding}")

La codificación del archivo steam_games es: utf-8
La codificación del archivo steam_games es: utf-8

La codificación del archivo steam_games es: utf-8
La codificación del archivo steam_games es: utf-8

En el marco de este proyecto, se seleccionarán las provincias con mayor población que fueron identificadas en el Notebook"censo". Estas provincias incluyen CABA o Capital Federal, Buenos Aires, Córdoba, Entre Ríos, Mendoza, Salta, Santa Fe y Tucumán. Esta elección tiene como objetivo reducir la cantidad de datos y focalizar el análisis en estas provincias específicas

### --> ***Acceso a Internet fijo por tecnología y provincia***

In [69]:
# Se carga el archivo
AccInt_Fijo_tec_prov = pd.read_csv(r"../data/Acceso a Internet fijo por tecnología y provincia.csv", encoding='utf-8')
AccInt_Fijo_tec_prov.head(3)

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,4,Buenos Aires,326.0,3.0,1.0,130.0,72.0,5.0
1,2022,4,Capital Federal,139.0,1.0,139.0,5.0,32.0,2.0
2,2022,4,Catamarca,9.0,11.0,47.0,1.0,2.0,71.0

In [70]:
# Se verifica tipo de dato y si existen nulos
func.tipo_dato(AccInt_Fijo_tec_prov)

Año (nulos) =  0
Trimestre (nulos) =  0
Provincia (nulos) =  1
ADSL (nulos) =  1
Cablemodem (nulos) =  1
Fibra óptica (nulos) =  1
Wireless (nulos) =  1
Otros (nulos) =  1
Total (nulos) =  1

 filas completamente nulas:  0

  Nombre_Columna                         Tipo_dato  %_No_nulos  %_Nulos
0            Año                   [<class 'str'>]      100.00     0.00
1      Trimestre                   [<class 'str'>]      100.00     0.00
2      Provincia  [<class 'str'>, <class 'float'>]       99.88     0.12
3           ADSL                 [<class 'float'>]       99.88     0.12
4     Cablemodem                 [<class 'float'>]       99.88     0.12
5   Fibra óptica                 [<class 'float'>]       99.88     0.12
6       Wireless                 [<class 'float'>]       99.88     0.12
7          Otros                 [<class 'float'>]       99.88     0.12
8          Total                 [<class 'float'>]       99.88     0.12

In [71]:
# Se observa que la ultima fila del Df es innecesaria
AccInt_Fijo_tec_prov.tail(5)

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
860,2014,1,Santa Fe,323.0,174.0,3.0,6.0,644.0,507.0
861,2014,1,Santiago Del Estero,33.0,4.0,19.0,915.0,34.0,37.0
862,2014,1,Tierra Del Fuego,22.0,3.0,648.0,1.0,3.0,28.0
863,2014,1,Tucumán,130.0,83.0,121.0,13.0,98.0,130.0
864,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
# Se elimina la fila
AccInt_Fijo_tec_prov = AccInt_Fijo_tec_prov.dropna()

In [73]:
# En la columna 'año' se observa una fecha con un * 
AccInt_Fijo_tec_prov['Año'].unique()

array(['2022', '2021', '2020', '2019', '2019 *', '2018', '2017', '2016',
       '2015', '2014'], dtype=object)

In [74]:
fila_2019 = AccInt_Fijo_tec_prov[AccInt_Fijo_tec_prov['Año']== '2019 *']
fila_2019

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
312,2019 *,3 *,Buenos Aires,1.0,2.0,425.0,86.0,27.0,4.0
313,2019 *,3 *,Capital Federal,300.0,1.0,25.0,4.0,31.0,1.0
314,2019 *,3 *,Catamarca,24.0,6.0,13.0,244.0,2.0,32.0
315,2019 *,3 *,Chaco,50.0,49.0,8.0,5.0,2.0,114.0
316,2019 *,3 *,Chubut,37.0,27.0,2.0,15.0,8.0,89.0
...,...,...,...,...,...,...,...,...,...
379,2019 *,1 *,Santa Cruz,11.0,5.0,382.0,7.0,3.0,25.0
380,2019 *,1 *,Santa Fe,340.0,340.0,16.0,23.0,18.0,737.0
381,2019 *,1 *,Santiago Del Estero,25.0,62.0,23.0,3.0,99.0,90.0
382,2019 *,1 *,Tierra Del Fuego,20.0,24.0,2.0,0.0,1.0,46.0
383,2019 *,1 *,Tucumán,159.0,12.0,118.0,678.0,321.0,172.0

In [75]:
# Se  procede a eliminar el " *"
AccInt_Fijo_tec_prov['Año'] = AccInt_Fijo_tec_prov['Año'].str.replace('*','').str.strip()

In [76]:
# Se revisa la columna Provincia para ver si existe inconsistencias en sus valores
AccInt_Fijo_tec_prov['Provincia'].unique()

array(['Buenos Aires', 'Capital Federal', 'Catamarca', 'Chaco', 'Chubut',
       'Córdoba', 'Corrientes', 'Entre Ríos', 'Formosa', 'Jujuy',
       'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquén',
       'Río Negro', 'Salta', 'San Juan', 'San Luis', 'Santa Cruz',
       'Santa Fe', 'Santiago Del Estero', 'Tierra Del Fuego', 'Tucumán'],
      dtype=object)

In [77]:
# Se cambian los tipos de variables (categoricas)
AccInt_Fijo_tec_prov['Provincia'] = AccInt_Fijo_tec_prov['Provincia'].astype('category')
AccInt_Fijo_tec_prov['Trimestre'] = AccInt_Fijo_tec_prov['Trimestre'].astype('category')

# variables numericas
AccInt_Fijo_tec_prov['Año'] = AccInt_Fijo_tec_prov['Año'].astype('int')
AccInt_Fijo_tec_prov['ADSL'] = AccInt_Fijo_tec_prov['ADSL'].astype('int')
AccInt_Fijo_tec_prov['Cablemodem'] = AccInt_Fijo_tec_prov['Cablemodem'].astype('int')
AccInt_Fijo_tec_prov['Fibra óptica'] = AccInt_Fijo_tec_prov['Fibra óptica'].astype('int')
AccInt_Fijo_tec_prov['Wireless'] = AccInt_Fijo_tec_prov['Wireless'].astype('int')
AccInt_Fijo_tec_prov['Otros'] = AccInt_Fijo_tec_prov['Otros'].astype('int')

In [78]:
AccInt_Fijo_tec_prov.info()

<class 'pandas.core.frame.DataFrame'>
Index: 864 entries, 0 to 863
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           864 non-null    int32
 1   Trimestre     864 non-null    category
 2   Provincia     864 non-null    category
 3   ADSL          864 non-null    int32
 4   Cablemodem    864 non-null    int32
 5   Fibra óptica  864 non-null    int32
 6   Wireless      864 non-null    int32
 7   Otros         864 non-null    int32
 8   Total         864 non-null    float64
dtypes: category(2), float64(1), int32(6)
memory usage: 36.5 KB

In [79]:
# La columna 'Total' no esta sumando todos los valore por ende se procede a modificarla
AccInt_Fijo_tec_prov.head(5)

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,4,Buenos Aires,326,3,1,130,72,5.0
1,2022,4,Capital Federal,139,1,139,5,32,2.0
2,2022,4,Catamarca,9,11,47,1,2,71.0
3,2022,4,Chaco,25,61,47,8,3,144.0
4,2022,4,Chubut,45,74,10,31,9,169.0

In [80]:
# Se crea una variable en donde estan las columnas a sumar
columnas_sumar = ['ADSL','Cablemodem','Fibra óptica','Wireless','Otros']

# Se sumas las columnas y se alamcena en al columna 'Total'
AccInt_Fijo_tec_prov['Total']= AccInt_Fijo_tec_prov[columnas_sumar].sum(axis=1)

In [81]:
AccInt_Fijo_tec_prov.sample(5)

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
368,2019,1 *,Formosa,23,8,940,14,62,1047
652,2016,1,Chubut,44,834,916,13,5,1812
109,2021,4,Misiones,42,92,22,8,8,172
571,2017,1,Santa Cruz,16,3,1,5,2,27
279,2020,1,Río Negro,48,38,10,11,18,125

In [82]:
# Se tomaran los datos de los ultimos 3 años 
AccInt_Fijo_tec_prov = AccInt_Fijo_tec_prov[AccInt_Fijo_tec_prov['Año'] >= 2020]

In [83]:
# Poner la primera letra de cada palabra en mayuscula y cambiar 'Del' pór 'del' 
AccInt_Fijo_tec_prov = AccInt_Fijo_tec_prov.applymap(lambda x: ' '.join([word if word.lower() in ['de', 'del'] else word.capitalize() for word in str(x).lower().split()]).replace(' Del ', ' del ') if isinstance(x, str) else x)

In [84]:
AccInt_Fijo_tec_prov

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,4,Buenos Aires,326,3,1,130,72,532
1,2022,4,Capital Federal,139,1,139,5,32,316
2,2022,4,Catamarca,9,11,47,1,2,70
3,2022,4,Chaco,25,61,47,8,3,144
4,2022,4,Chubut,45,74,10,31,9,169
...,...,...,...,...,...,...,...,...,...
283,2020,1,Santa Cruz,13,16,1,7,2,39
284,2020,1,Santa Fe,302,384,35,30,19,770
285,2020,1,Santiago del Estero,25,70,200,3,5,303
286,2020,1,Tierra del Fuego,13,26,0,0,308,347
287,2020,1,Tucumán,143,10,45,1,347,546

In [85]:
# Se crea una variable con las Provincias seleccionadas
provincias_seleccionadas = ['Capital Federal', 'Buenos Aires', 'Córdoba', 'Entre Ríos', 'Mendoza', 'Salta', 'Santa Fe', 'Tucumán']

# Filtra el DataFrame para incluir solo las provincias seleccionadas
Df_Tec_Pro = AccInt_Fijo_tec_prov[AccInt_Fijo_tec_prov['Provincia'].isin(provincias_seleccionadas)]

In [86]:
Df_Tec_Pro['Provincia'].unique()

['Buenos Aires', 'Capital Federal', 'Córdoba', 'Entre Ríos', 'Mendoza', 'Salta', 'Santa Fe', 'Tucumán']
Categories (24, object): ['Buenos Aires', 'Capital Federal', 'Catamarca', 'Chaco', ..., 'Santa Fe', 'Santiago del Estero', 'Tierra del Fuego', 'Tucumán']

In [87]:
# Se cambia 'Capital Federal' por 'CABA'
Df_Tec_Pro['Provincia'] = Df_Tec_Pro['Provincia'].replace({'Capital Federal':'CABA'})
Df_Tec_Pro['Provincia'].unique()

['Buenos Aires', 'CABA', 'Córdoba', 'Entre Ríos', 'Mendoza', 'Salta', 'Santa Fe', 'Tucumán']
Categories (24, object): ['Buenos Aires', 'CABA', 'Catamarca', 'Chaco', ..., 'Santa Fe', 'Santiago del Estero', 'Tierra del Fuego', 'Tucumán']

In [88]:
Df_Tec_Pro

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,4,Buenos Aires,326,3,1,130,72,532
1,2022,4,CABA,139,1,139,5,32,316
5,2022,4,Córdoba,152,457,367,62,11,1049
7,2022,4,Entre Ríos,56,136,41,26,13,272
12,2022,4,Mendoza,38,78,147,28,2,293
...,...,...,...,...,...,...,...,...,...
271,2020,1,Entre Ríos,90,95,13,19,14,231
276,2020,1,Mendoza,92,50,28,12,722,904
280,2020,1,Salta,60,76,23,4,7,170
284,2020,1,Santa Fe,302,384,35,30,19,770
287,2020,1,Tucumán,143,10,45,1,347,546

In [89]:
# Se verifican duplicados 
duplicadospro = Df_Tec_Pro[Df_Tec_Pro.duplicated()]
duplicadospro

Empty DataFrame
Columns: [Año, Trimestre, Provincia, ADSL, Cablemodem, Fibra óptica, Wireless, Otros, Total]
Index: []

### --> ***Accesos a Internet fijo por tecnología y localidad***

In [90]:
# Se carga el archivo
AccInt_Fijo_tec_loc = pd.read_csv(r"../data/Accesos a Internet fijo por tecnología y localidad.csv", encoding='utf-8')
AccInt_Fijo_tec_loc

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general,Unnamed: 13
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,874,"4,54",- 0,3,- 0,852,- 0,706,"6,98",NaN
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,- 0,- 0,- 0,10,1,- 0,- 0,192,NaN
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,- 0,- 0,- 0,- 0,- 0,- 0,- 0,181,181,NaN
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,- 0,782,- 0,6,167,- 0,- 0,327,"1,28",NaN
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,- 0,- 0,- 0,- 0,- 0,- 0,- 0,6,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3132,TUCUMAN,Tafí Viejo,Villa Mariano Moreno - El Colmenar,90105100,- 0,31,- 0,"3,73",- 0,- 0,- 0,- 0,"3,76",NaN
3133,TUCUMAN,Trancas,San Pedro de Colalao,90112020,- 0,- 0,- 0,- 0,- 0,- 0,- 0,313,313,NaN
3134,TUCUMAN,Trancas,Villa de Trancas,90112030,126,- 0,- 0,- 0,33,- 0,- 0,101,260,NaN
3135,TUCUMAN,Yerba Buena,Villa Carmela,90119020,"1,5",- 0,- 0,- 0,1,- 0,- 0,97,"1,6",NaN
3136,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,129,209,- 0,"15,4",33,- 0,- 0,- 0,"15,78",NaN

In [91]:
# Se verifica tipo de dato y si existen nulos
func.tipo_dato(AccInt_Fijo_tec_loc)

Provincia (nulos) =  0
Partido (nulos) =  0
Localidad (nulos) =  0
Link Indec (nulos) =  0
ADSL (nulos) =  0
CABLEMODEM (nulos) =  0
DIAL UP (nulos) =  0
FIBRA OPTICA (nulos) =  0
OTROS (nulos) =  0
SATELITAL (nulos) =  0
WIMAX (nulos) =  0
WIRELESS (nulos) =  0
Total general (nulos) =  0
Unnamed: 13 (nulos) =  3137

 filas completamente nulas:  0

   Nombre_Columna          Tipo_dato  %_No_nulos  %_Nulos
0       Provincia    [<class 'str'>]       100.0      0.0
1         Partido    [<class 'str'>]       100.0      0.0
2       Localidad    [<class 'str'>]       100.0      0.0
3      Link Indec    [<class 'str'>]       100.0      0.0
4            ADSL    [<class 'str'>]       100.0      0.0
5      CABLEMODEM    [<class 'str'>]       100.0      0.0
6         DIAL UP    [<class 'str'>]       100.0      0.0
7    FIBRA OPTICA    [<class 'str'>]       100.0      0.0
8           OTROS    [<class 'str'>]       100.0      0.0
9       SATELITAL    [<class 'str'>]       100.0      0.0
10          WIMAX    [<class 'str'>]       100.0      0.0
11       WIRELESS    [<class 'str'>]       100.0      0.0
12  Total general    [<class 'str'>]       100.0      0.0
13    Unnamed: 13  [<class 'float'>]         0.0    100.0

In [92]:
# Se eliminan  las columnas innecesarias "Unnamed: 13" y 'Link Indec'  
AccInt_Fijo_tec_loc.drop(columns=['Unnamed: 13','Link Indec'], inplace = True)
AccInt_Fijo_tec_loc.columns

Index(['Provincia', 'Partido', 'Localidad', 'ADSL', 'CABLEMODEM', 'DIAL UP',
       'FIBRA OPTICA', 'OTROS', 'SATELITAL', 'WIMAX', 'WIRELESS',
       'Total general'],
      dtype='object')

In [93]:
AccInt_Fijo_tec_loc

,Provincia,Partido,Localidad,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,874,"4,54",- 0,3,- 0,852,- 0,706,"6,98"
1,BUENOS AIRES,25 de Mayo,Del Valle,181,- 0,- 0,- 0,10,1,- 0,- 0,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,- 0,- 0,- 0,- 0,- 0,- 0,- 0,181,181
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,- 0,782,- 0,6,167,- 0,- 0,327,"1,28"
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,- 0,- 0,- 0,- 0,- 0,- 0,- 0,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...
3132,TUCUMAN,Tafí Viejo,Villa Mariano Moreno - El Colmenar,- 0,31,- 0,"3,73",- 0,- 0,- 0,- 0,"3,76"
3133,TUCUMAN,Trancas,San Pedro de Colalao,- 0,- 0,- 0,- 0,- 0,- 0,- 0,313,313
3134,TUCUMAN,Trancas,Villa de Trancas,126,- 0,- 0,- 0,33,- 0,- 0,101,260
3135,TUCUMAN,Yerba Buena,Villa Carmela,"1,5",- 0,- 0,- 0,1,- 0,- 0,97,"1,6"
3136,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,129,209,- 0,"15,4",33,- 0,- 0,- 0,"15,78"

In [94]:
AccInt_Fijo_tec_loc['ADSL'].unique()

array(['874', '181', '- 0', '66', '568', '4,31', '450', '199', '81',
       '780', '549', '457', '285', '214', '142', '5', '55', '30', '2',
       '3', '37', '26', '906', '50', '1,49', '1', '11', '9', '1,94', '16',
       '2,05', '2,42', '4,69', '373', '1,5', '1,73', '120', '782', '1,62',
       '17', '2,02', '130', '501', '39', '4,2', '963', '10', '674', '321',
       '135', '1,8', '676', '1,98', '206', '1,23', '60', '228', '180',
       '1,43', '15', '388', '67', '925', '260', '59', '2,16', '104',
       '2,63', '4,14', '852', '649', '817', '281', '1,57', '1,53', '2,61',
       '4,44', '933', '404', '1,24', '237', '4', '211', '359', '1,15',
       '397', '223', '194', '343', '540', '107', '571', '35', '7', '661',
       '13', '2,5', '357', '31', '12', '98', '256', '4,89', '271', '1,2',
       '513', '728', '2,51', '272', '141', '1,11', '1,31', '83', '246',
       '15,28', '468', '1,29', '3,91', '1,96', '1,61', '267', '97', '964',
       '562', '262', '317', '315', '368', '196', '113', '548', '122',
       '419', '21', '2,43', '3,1', '435', '1,44', '1,97', '4,62', '28',
       '101', '351', '119', '88', '191', '365', '637', '34', '818', '668',
       '696', '170', '4,53', '176', '466', '63', '11,8', '292', '42',
       '551', '73', '65', '192', '252', '941', '288', '330', '813', '753',
       '730', '87', '302', '136', '550', '38', '79', '2,44', '306', '148',
       '708', '99', '644', '3,58', '454', '1,07', '263', '182', '2,57',
       '1,21', '426', '678', '487', '14', '978', '61', '440', '240', '6',
       '198', '277', '844', '392', '525', '3,24', '3,65', '195', '117',
       '4,35', '311', '115', '22', '48', '346', '2,56', '109', '18,66',
       '396', '3,29', '2,95', '1,56', '616', '29', '9,17', '77', '238',
       '227', '71', '112', '374', '577', '595', '604', '151', '438',
       '891', '470', '46', '1,19', '190', '146', '2,64', '1,37', '1,75',
       '1,72', '984', '862', '94', '462', '670', '8,07', '2,25', '110',
       '1,13', '96', '273', '268', '2,62', '858', '40', '495', '477',
       '697', '766', '930', '564', '131', '475', '2,53', '47', '1,35',
       '23', '507', '313', '134', '992', '188', '229', '326', '93', '861',
       '303', '904', '5,67', '417', '393', '138,75', '821', '7,26', '171',
       '486', '337', '334', '518', '1,81', '3,18', '156', '542', '80',
       '500', '465', '414', '2,52', '147', '10,33', '174', '1,18', '290',
       '19,6', '1,14', '7,14', '472', '675', '6,88', '140', '2,13', '52',
       '423', '1,27', '555', '47,78', '370', '121', '1,06', '125', '161',
       '1,04', '1,1', '433', '1,02', '792', '1,01', '57', '75', '350',
       '488', '1,6', '68', '92', '584', '751', '572', '524', '650', '150',
       '565', '2,21', '912', '159', '1,84', '129', '886', '8', '908',
       '126', '448', '742', '652', '451', '811', '220', '613', '162',
       '757', '385', '1,03', '255', '201', '395', '1,26', '834', '1,76',
       '885', '257', '353', '429', '570', '18', '422', '5,89', '449',
       '2,24', '217', '363', '709', '62', '69', '2,49', '1,88', '2,3',
       '139', '1,78', '208', '266', '827', '606', '168', '27', '253',
       '620', '193', '804', '3,15', '386', '32', '517', '258', '2,86',
       '765', '203', '935', '1,47', '1,3', '504', '116', '591', '172',
       '167', '947', '242', '118', '1,25', '13,29', '849', '731', '406',
       '503', '143', '413', '4,25', '808', '301', '2,35', '1,28', '988',
       '803', '7,82', '838', '876', '3,72', '5,71', '775', '1,32', '499',
       '2,17', '200', '366', '991', '335', '6,08', '137', '458', '1,22',
       '784', '5,33', '4,16', '76', '1,38', '10,05', '205', '236', '460',
       '1,17', '1,34', '7,77', '415', '202', '633', '1,93', '5,44', '100',
       '660', '1,69', '631', '2,54', '225', '84', '4,72', '210', '917',
       '6,99', '4,26', '5,16', '102', '3,68', '354', '832', '384', '578',
       '1,05', '2,45', '922', '348', '1,08', '389', '828', '36', '164',
       '3,12', '473', '157', '794', '183', '6,49', '7,45', '706', '959',
       '764', '899', '3,6', '324', '4,45', '710', '552', '224', '2,12',
       '4,56', '5,68', '2,36', '7,25', '1,39', '739', '3,31', '245',
       '14,39', '133', '218', '1,68', '860', '383', '293', '430', '556',
       '927', '14,46', '305', '561', '207', '2,33', '716', '936', '965',
       '212', '33', '2,2', '431', '3,52', '2,28', '103', '509', '12,81',
       '2,94', '16,32', '2,03', '2,4', '175', '1,79', '149', '722',
       '2,77', '612', '683', '261', '1,33', '64', '529', '25', '371',
       '72', '197', '45', '2,71', '770', '160', '437', '215', '600',
       '165', '4,32', '189', '155', '222', '276', '78', '152', '43',
       '294', '666', '86', '653', '95', '2,01', '287', '489', '493',
       '563', '1,82', '187', '387', '18,2', '54', '185', '1,91', '342',
       '4,52', '400', '2,89', '241', '37,27', '6,75', '56', '847', '990',
       '474', '843', '603', '3,38', '543', '464', '24', '3,66', '2,23',
       '819', '408', '880', '483', '1,9', '853', '6,79', '53', '478',
       '243', '382', '737', '8,1', '4,37', '46,39', '19', '3,34', '339',
       '379', '41', '158', '5,04'], dtype=object)

Se observan varios valores numeroicos decimales lo cual indica un error en la digitacion ya que buscando por las localidades en donde se observan estos numeros son municipos/ciudades, con gran numero de habitantes por ende las ',' vistas pueden ser errores al momento de digitar, se procede a normalizar los calores

In [95]:
# Se eliminaran las ',' de los valores numericos
AccInt_Fijo_tec_loc = AccInt_Fijo_tec_loc.applymap(lambda x: ' '.join([word.replace(',', '') for word in str(x).split()]) if isinstance(x, str) else x)

In [96]:
# Se pone en mayuscula la primera letra de los titulos de las columnas 
AccInt_Fijo_tec_loc.columns = [col.title() if 'adsl' not in col.lower() else col for col in AccInt_Fijo_tec_loc.columns]

In [97]:
# Poner la primera letra de cada palabra en mayuscula y cambiar 'Del' pór 'del' 
AccInt_Fijo_tec_loc = AccInt_Fijo_tec_loc.applymap(lambda x: ' '.join([word if word.lower() in ['de', 'del'] else word.capitalize() for word in str(x).lower().split()]).replace(' Del ', ' del ') if isinstance(x, str) else x)

In [98]:
# Se reemplaza '-0' po '0'
AccInt_Fijo_tec_loc = AccInt_Fijo_tec_loc.replace('- 0','0',regex=True)

In [99]:
AccInt_Fijo_tec_loc.head(3)

,Provincia,Partido,Localidad,ADSL,Cablemodem,Dial Up,Fibra Optica,Otros,Satelital,Wimax,Wireless,Total General
0,Buenos Aires,25 de Mayo,25 de Mayo,874,454,0,3,0,852,0,706,698
1,Buenos Aires,25 de Mayo,del Valle,181,0,0,0,10,1,0,0,192
2,Buenos Aires,25 de Mayo,Gobernador Ugarte,0,0,0,0,0,0,0,181,181

In [100]:
# Se cambian los tipos de variables (categoricas)
AccInt_Fijo_tec_loc['Provincia'] = AccInt_Fijo_tec_loc['Provincia'].astype('category')
AccInt_Fijo_tec_loc['Partido'] = AccInt_Fijo_tec_loc['Partido'].astype('category')
AccInt_Fijo_tec_loc['Localidad'] = AccInt_Fijo_tec_loc['Localidad'].astype('category')

In [101]:
# variables numericas
AccInt_Fijo_tec_loc['ADSL'] = AccInt_Fijo_tec_loc['ADSL'].astype('int')
AccInt_Fijo_tec_loc['Cablemodem'] = AccInt_Fijo_tec_loc['Cablemodem'].astype('int')
AccInt_Fijo_tec_loc['Dial Up'] = AccInt_Fijo_tec_loc['Dial Up'].astype('int')
AccInt_Fijo_tec_loc['Fibra Optica'] = AccInt_Fijo_tec_loc['Fibra Optica'].astype('int')
AccInt_Fijo_tec_loc['Otros'] = AccInt_Fijo_tec_loc['Otros'].astype('int')
AccInt_Fijo_tec_loc['Satelital'] = AccInt_Fijo_tec_loc['Satelital'].astype('int')
AccInt_Fijo_tec_loc['Wimax'] = AccInt_Fijo_tec_loc['Wimax'].astype('int')
AccInt_Fijo_tec_loc['Wireless'] = AccInt_Fijo_tec_loc['Wireless'].astype('int')

La columna "Total General" no se evidencia la suma de todos los valores, se procede a arreglar dicha columna

In [102]:
# Se crea una variable en donde estan las columnas a sumar
columnas_sumar = ['ADSL','Cablemodem','Dial Up','Fibra Optica','Otros','Satelital','Wimax','Wireless']

# Se sumas las columnas y se alamcena en al columna 'Total'
AccInt_Fijo_tec_loc['Total General']= AccInt_Fijo_tec_loc[columnas_sumar].sum(axis=1)

In [103]:
# Se verifica las filas que no tienen ninguna tecnologia
df_filtrado = AccInt_Fijo_tec_loc[AccInt_Fijo_tec_loc['Total General'] == 0]
df_filtrado

,Provincia,Partido,Localidad,ADSL,Cablemodem,Dial Up,Fibra Optica,Otros,Satelital,Wimax,Wireless,Total General
2132,Neuquen,Picunches,Bajada del Agrio,0,0,0,0,0,0,0,0,0
2273,Salta,Cafayate,Tolombón,0,0,0,0,0,0,0,0,0
2309,Salta,Grl. José de San Martín,Padre Lozano,0,0,0,0,0,0,0,0,0
2613,Santa Fe,Castellanos,Bauer Y Sigel,0,0,0,0,0,0,0,0,0
2908,Santa Fe,San Martín,Las Petacas,0,0,0,0,0,0,0,0,0

In [104]:
# Se eliminan dichas filas
sinTec = AccInt_Fijo_tec_loc[AccInt_Fijo_tec_loc['Total General'] == 0]

# se obtinen los índices de las filas filtradas
indices_filtrados = sinTec.index

# Se eliminan las filas filtradas del DataFrame original
AccInt_Fijo_tec_loc = AccInt_Fijo_tec_loc.drop(indices_filtrados)

In [105]:
# Se verifican si existen duplicados en las tres columnas tipo 'str'
duplicl = AccInt_Fijo_tec_loc[AccInt_Fijo_tec_loc.duplicated(['Provincia','Partido','Localidad'], keep=False)]
duplicl

Empty DataFrame
Columns: [Provincia, Partido, Localidad, ADSL, Cablemodem, Dial Up, Fibra Optica, Otros, Satelital, Wimax, Wireless, Total General]
Index: []

In [106]:
# Verifica si todos los valores en la columna 'Provincia' son únicos
provincias_unicas = AccInt_Fijo_tec_loc['Provincia'].unique()

# Imprime cada provincia en líneas separadas
for provincia in provincias_unicas:
    print(provincia)

Buenos Aires
Caba
Catamarca
Chaco
Chubut
Cordoba
Corrientes
Entre Rios
Formosa
Jujuy
La Pampa
La Rioja
Mendoza
Misiones
Neuquen
Rio Negro
Salta
San Juan
San Luis
Santa Cruz
Santa Fe
Santiago del Estero
Tierra del Fuego
Tucuman

In [107]:
# Se crea una variable con las Provincias seleccionadas
provincias_seleccionadas = ['Caba', 'Buenos Aires', 'Cordoba','Entre Rios', 'Mendoza', 'Salta', 'Santa Fe', 'Tucuman']

# Filtra el DataFrame para incluir solo las provincias seleccionadas
Df_Tec_Loc = AccInt_Fijo_tec_loc[AccInt_Fijo_tec_loc['Provincia'].isin(provincias_seleccionadas)]
Df_Tec_Loc

,Provincia,Partido,Localidad,ADSL,Cablemodem,Dial Up,Fibra Optica,Otros,Satelital,Wimax,Wireless,Total General
0,Buenos Aires,25 de Mayo,25 de Mayo,874,454,0,3,0,852,0,706,2889
1,Buenos Aires,25 de Mayo,del Valle,181,0,0,0,10,1,0,0,192
2,Buenos Aires,25 de Mayo,Gobernador Ugarte,0,0,0,0,0,0,0,181,181
3,Buenos Aires,25 de Mayo,Norberto de La Riestra,0,782,0,6,167,0,0,327,1282
4,Buenos Aires,25 de Mayo,Lucas Monteverde,0,0,0,0,0,0,0,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...
3132,Tucuman,Tafí Viejo,Villa Mariano Moreno - El Colmenar,0,31,0,373,0,0,0,0,404
3133,Tucuman,Trancas,San Pedro de Colalao,0,0,0,0,0,0,0,313,313
3134,Tucuman,Trancas,Villa de Trancas,126,0,0,0,33,0,0,101,260
3135,Tucuman,Yerba Buena,Villa Carmela,15,0,0,0,1,0,0,97,113
3136,Tucuman,Yerba Buena,Yerba Buena - Marcos Paz,129,209,0,154,33,0,0,0,525

In [108]:
# Se renombran algunas columnas
Df_Tec_Loc.rename(columns={'Cablemodem':'Cablemódem','Fibra Optica':'Fibra Óptica'}, inplace=True)
Df_Tec_Loc.columns

Index(['Provincia', 'Partido', 'Localidad', 'ADSL', 'Cablemódem', 'Dial Up',
       'Fibra Óptica', 'Otros', 'Satelital', 'Wimax', 'Wireless',
       'Total General'],
      dtype='object')

In [109]:
# Se renombran algunas provincias
Df_Tec_Loc['Provincia'] = Df_Tec_Loc['Provincia'].replace({'Caba':'CABA','Cordoba':'Córdoba', 'Entre Rios':'Entre Ríos','Tucuman':'Tucumán'})
Df_Tec_Loc['Provincia'].unique()

['Buenos Aires', 'CABA', 'Córdoba', 'Entre Ríos', 'Mendoza', 'Salta', 'Santa Fe', 'Tucumán']
Categories (24, object): ['Buenos Aires', 'CABA', 'Catamarca', 'Chaco', ..., 'Santa Fe', 'Santiago del Estero', 'Tierra del Fuego', 'Tucumán']

### --> ***Listado_localidades_conectividad_internet***

In [110]:
# Se carga el archivo
Loc_con_int = pd.read_csv(r"../data/Listado_locadades_conectividad_internet.csv", encoding='utf-8')
Loc_con_int

,Provincia,Partido,Localidad,ADSL,Cablemódem,Dial Up,Fibra óptica,4G,3G,Telefonía Fija,Wireless,Satelital
0,BUENOS AIRES,9 de Julio,Alfredo Demarchi (Est. Facundo Quiroga),SI,--,--,--,SI,SI,SI,--,--
1,BUENOS AIRES,9 de Julio,Carlos María Naón,--,--,--,--,SI,SI,SI,--,--
2,BUENOS AIRES,9 de Julio,Dudignac,--,--,SI,--,SI,SI,SI,SI,--
3,BUENOS AIRES,9 de Julio,La Aurora (Est. La Niña),--,--,--,--,SI,--,--,--,--
4,BUENOS AIRES,9 de Julio,Manuel B. Gonnet (Est. French),SI,--,--,SI,SI,SI,SI,--,--
...,...,...,...,...,...,...,...,...,...,...,...,...
4306,BUENOS AIRES,Pilar,Pilar,SI,SI,SI,SI,SI,SI,SI,SI,SI
4307,BUENOS AIRES,Pilar,Presidente Derqui,SI,SI,--,SI,SI,SI,SI,SI,--
4308,BUENOS AIRES,Pilar,Roberto De Vicenzo,--,--,--,--,SI,SI,--,--,--
4309,BUENOS AIRES,Pilar,Santa Teresa,--,--,--,--,SI,SI,--,--,SI
4310,BUENOS AIRES,Pilar,Tortuguitas,--,--,--,SI,SI,SI,--,SI,SI

In [111]:
func.tipo_dato(Loc_con_int)

Provincia (nulos) =  0
Partido (nulos) =  0
Localidad (nulos) =  0
ADSL (nulos) =  0
Cablemódem (nulos) =  0
Dial Up (nulos) =  0
Fibra óptica (nulos) =  0
4G (nulos) =  0
3G (nulos) =  0
Telefonía Fija (nulos) =  0
Wireless (nulos) =  0
Satelital (nulos) =  0

 filas completamente nulas:  0

    Nombre_Columna        Tipo_dato  %_No_nulos  %_Nulos
0        Provincia  [<class 'str'>]       100.0      0.0
1          Partido  [<class 'str'>]       100.0      0.0
2        Localidad  [<class 'str'>]       100.0      0.0
3             ADSL  [<class 'str'>]       100.0      0.0
4       Cablemódem  [<class 'str'>]       100.0      0.0
5          Dial Up  [<class 'str'>]       100.0      0.0
6     Fibra óptica  [<class 'str'>]       100.0      0.0
7               4G  [<class 'str'>]       100.0      0.0
8               3G  [<class 'str'>]       100.0      0.0
9   Telefonía Fija  [<class 'str'>]       100.0      0.0
10        Wireless  [<class 'str'>]       100.0      0.0
11       Satelital  [<class 'str'>]       100.0      0.0

In [112]:
Loc_con_int.shape

(4311, 12)

In [113]:
# Se verifica duplicados
duplicados = Loc_con_int[Loc_con_int.duplicated(keep=False)]
duplicados

,Provincia,Partido,Localidad,ADSL,Cablemódem,Dial Up,Fibra óptica,4G,3G,Telefonía Fija,Wireless,Satelital
352,BUENOS AIRES,La Plata,ruta del sol,SI,--,--,SI,SI,SI,SI,--,--
353,BUENOS AIRES,La Plata,ruta del sol,SI,--,--,SI,SI,SI,SI,--,--
3441,TUCUMAN,Cruz Alta,Lastenia,--,--,--,--,SI,SI,--,--,--
3442,TUCUMAN,Cruz Alta,Lastenia,--,--,--,--,SI,SI,--,--,--

In [114]:
Loc_con_int = Loc_con_int.drop_duplicates()

In [115]:
# Se pone en mayuscula la primera letra de los titulos de las columnas 
Loc_con_int.columns = [col.title() if 'adsl' not in col.lower() else col for col in Loc_con_int.columns]

In [116]:
# Poner la primera letra de cada palabra en mayuscula y cambiar 'Del' pór 'del' 
Loc_con_int = Loc_con_int.applymap(lambda x: ' '.join([word if word.lower() in ['de', 'del'] else word.capitalize() for word in str(x).lower().split()]).replace(' Del ', ' del ') if isinstance(x, str) else x)

In [117]:
# Se cambian los tipos de variables (categoricas)
Loc_con_int['Provincia'] = Loc_con_int['Provincia'].astype('category')
Loc_con_int['Partido'] = Loc_con_int['Partido'].astype('category')
Loc_con_int['Localidad'] = Loc_con_int['Localidad'].astype('category')

In [118]:
Loc_con_int.sample(10)

,Provincia,Partido,Localidad,ADSL,Cablemódem,Dial Up,Fibra Óptica,4G,3G,Telefonía Fija,Wireless,Satelital
3537,Buenos Aires,General Alvear,General Alvear,--,--,--,--,Si,Si,Si,--,--
173,Santa Cruz,Güer Aike,El Turbio (est. Gobernador Mayer),--,--,--,--,--,--,--,--,Si
785,Formosa,Pirané,Villa Kilómetro 213,--,--,--,--,Si,--,Si,Si,--
3097,Santiago del Estero,Banda,Clodomira,--,--,--,Si,Si,Si,Si,Si,Si
3751,Santiago del Estero,Capital,Yanda,--,--,--,--,--,--,--,Si,--
2630,San Luis,Belgrano,El Recodo,--,--,--,--,--,--,--,--,--
3908,Cordoba,Río Segundo,Oncativo,Si,Si,--,Si,Si,Si,Si,Si,--
2774,Buenos Aires,Esteban Echeverría,Luis Guillón,Si,Si,Si,Si,Si,Si,Si,Si,--
4021,Cordoba,San Alberto,Villa Sarmiento,Si,--,--,--,Si,--,--,Si,--
3699,Tucuman,Famaillá,Barrio Casa Rosada,--,--,--,--,Si,--,--,--,--

In [119]:
sinDatos = Loc_con_int[Loc_con_int['Localidad']=='Barrio Empleados de Comercio']
sinDatos

,Provincia,Partido,Localidad,ADSL,Cablemódem,Dial Up,Fibra Óptica,4G,3G,Telefonía Fija,Wireless,Satelital
4083,Mendoza,San Rafael,Barrio Empleados de Comercio,--,--,--,--,--,--,--,--,--

Se evidencia la presencia de localidades que carecen de cualquier tipo de tecnología, lo cual sugiere una deficiencia en los datos. Tomando como ejemplo la localidad 'Barrio Empleados de Comercio' en la provincia de Mendoza, departamento de San Rafael, una revisión en Google Maps revela que se trata de un barrio situado a cierta distancia de San Rafael, pero no lo suficientemente remoto como para carecer de cualquier forma de tecnología, como telefonía fija o cobertura 3G/4G. En consecuencia, se procederá a eliminar las filas que no dispongan de ninguna tecnología con el objetivo de mejorar la integridad de los datos de manera precisa.

In [120]:
# Depuracion de datos faltantes
tecnologias = ['ADSL', 'Cablemódem', 'Dial Up', 'Fibra Óptica', '4G', '3G', 'Telefonía Fija', 'Wireless', 'Satelital']

# Se crea una máscara booleana para identificar las filas con al menos una tecnología ('Si')
mascara_tecnologias = (Loc_con_int[tecnologias] == 'Si')

# Se crea otra una máscara para identificar las filas que tienen al menos una tecnología
mascara_filas_con_tecnologia = mascara_tecnologias.any(axis=1)

# Se filtra el DataFrame utilizando la máscara anterior
DF_Loc_con_int = Loc_con_int[mascara_filas_con_tecnologia]

In [121]:
# Se convierte las tecnologia a forma numerica
tecnologias = ['ADSL', 'Cablemódem', 'Dial Up', 'Fibra Óptica', '4G', '3G', 'Telefonía Fija', 'Wireless', 'Satelital']

# Se reemplaza 'Si' por 1 y '--' por 0 en las columnas seleccionadas
DF_Loc_con_int[tecnologias] = DF_Loc_con_int[tecnologias].replace({'Si': 1, '--': 0})

# Se convierte las columnas a tipo de datos numérico
DF_Loc_con_int[tecnologias] = DF_Loc_con_int[tecnologias].apply(pd.to_numeric, errors='coerce')

DF_Loc_con_int.head(4)

,Provincia,Partido,Localidad,ADSL,Cablemódem,Dial Up,Fibra Óptica,4G,3G,Telefonía Fija,Wireless,Satelital
0,Buenos Aires,9 de Julio,Alfredo Demarchi (est. Facundo Quiroga),1,0,0,0,1,1,1,0,0
1,Buenos Aires,9 de Julio,Carlos María Naón,0,0,0,0,1,1,1,0,0
2,Buenos Aires,9 de Julio,Dudignac,0,0,1,0,1,1,1,1,0
3,Buenos Aires,9 de Julio,La Aurora (est. La Niña),0,0,0,0,1,0,0,0,0

In [122]:
DF_Loc_con_int['Provincia'].unique()

['Buenos Aires', 'Caba', 'Catamarca', 'Cordoba', 'Entre Rios', ..., 'Santiago del Estero', 'Tucuman', 'La Rioja', 'San Luis', 'Tierra del Fuego']
Length: 24
Categories (24, object): ['Buenos Aires', 'Caba', 'Catamarca', 'Chaco', ..., 'Santa Fe', 'Santiago del Estero', 'Tierra del Fuego', 'Tucuman']

In [123]:
# Se renombran algunas provincias
DF_Loc_con_int['Provincia'] = DF_Loc_con_int['Provincia'].replace({'Caba':'CABA','Cordoba':'Córdoba', 'Entre Rios':'Entre Ríos','Tucuman':'Tucumán'})
DF_Loc_con_int['Provincia'].unique()

['Buenos Aires', 'CABA', 'Catamarca', 'Córdoba', 'Entre Ríos', ..., 'Santiago del Estero', 'Tucumán', 'La Rioja', 'San Luis', 'Tierra del Fuego']
Length: 24
Categories (24, object): ['Buenos Aires', 'CABA', 'Catamarca', 'Chaco', ..., 'Santa Fe', 'Santiago del Estero', 'Tierra del Fuego', 'Tucumán']

In [124]:
# Se busca si existen filas que no tengan ninguna tecnologia 
tecnologia = ['ADSL', 'Cablemódem', 'Dial Up', 'Fibra Óptica', '4G', '3G', 'Telefonía Fija', 'Wireless', 'Satelital']

# Filtrar filas donde todas las columnas de interés son iguales a 0
filas_con_todo_cero = DF_Loc_con_int[(DF_Loc_con_int[tecnologia] == 0).all(axis=1)]
filas_con_todo_cero

Empty DataFrame
Columns: [Provincia, Partido, Localidad, ADSL, Cablemódem, Dial Up, Fibra Óptica, 4G, 3G, Telefonía Fija, Wireless, Satelital]
Index: []

In [125]:
# Se crea una variable con las Provincias seleccionadas
provincias_seleccionadas = ['CABA', 'Buenos Aires', 'Córdoba','Entre Ríos', 'Mendoza', 'Salta', 'Santa Fe', 'Tucumán']

# Filtra el DataFrame para incluir solo las provincias seleccionadas
Df_Lis_Tecn_Loc = DF_Loc_con_int[DF_Loc_con_int['Provincia'].isin(provincias_seleccionadas)]
Df_Lis_Tecn_Loc

,Provincia,Partido,Localidad,ADSL,Cablemódem,Dial Up,Fibra Óptica,4G,3G,Telefonía Fija,Wireless,Satelital
0,Buenos Aires,9 de Julio,Alfredo Demarchi (est. Facundo Quiroga),1,0,0,0,1,1,1,0,0
1,Buenos Aires,9 de Julio,Carlos María Naón,0,0,0,0,1,1,1,0,0
2,Buenos Aires,9 de Julio,Dudignac,0,0,1,0,1,1,1,1,0
3,Buenos Aires,9 de Julio,La Aurora (est. La Niña),0,0,0,0,1,0,0,0,0
4,Buenos Aires,9 de Julio,Manuel B. Gonnet (est. French),1,0,0,1,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4306,Buenos Aires,Pilar,Pilar,1,1,1,1,1,1,1,1,1
4307,Buenos Aires,Pilar,Presidente Derqui,1,1,0,1,1,1,1,1,0
4308,Buenos Aires,Pilar,Roberto de Vicenzo,0,0,0,0,1,1,0,0,0
4309,Buenos Aires,Pilar,Santa Teresa,0,0,0,0,1,1,0,0,1
4310,Buenos Aires,Pilar,Tortuguitas,0,0,0,1,1,1,0,1,1

In [126]:
Df_Lis_Tecn_Loc['Provincia'].unique()

['Buenos Aires', 'CABA', 'Córdoba', 'Entre Ríos', 'Mendoza', 'Salta', 'Santa Fe', 'Tucumán']
Categories (24, object): ['Buenos Aires', 'CABA', 'Catamarca', 'Chaco', ..., 'Santa Fe', 'Santiago del Estero', 'Tierra del Fuego', 'Tucumán']

In [127]:
# Se verifican si existen duplicados en las tres columnas tipo 'str'
duplic = DF_Loc_con_int[DF_Loc_con_int.duplicated(['Provincia','Partido','Localidad'], keep=False)]
duplic

,Provincia,Partido,Localidad,ADSL,Cablemódem,Dial Up,Fibra Óptica,4G,3G,Telefonía Fija,Wireless,Satelital
2417,Entre Ríos,Colón,Hocker,0,0,0,0,1,0,0,0,0
2418,Entre Ríos,Colón,Hocker,0,0,0,0,1,0,0,1,1
2862,La Rioja,Sanagasta,Villa Sanagasta,0,0,0,0,1,1,0,0,0
2863,La Rioja,Sanagasta,Villa Sanagasta,0,1,0,1,1,1,1,1,1
3224,Mendoza,Guaymallén,Colonia Segovia,0,0,0,0,1,1,0,0,0
3225,Mendoza,Guaymallén,Colonia Segovia,0,0,0,1,1,1,0,1,0
3812,Entre Ríos,Paraná,El Ramblón,0,0,0,0,1,0,0,0,0
3813,Entre Ríos,Paraná,El Ramblón,0,0,0,0,1,0,0,1,0

In [128]:
# Se elimina las filas con menos tecnologia de los duplicados antes visto
eliminar = [2417,2862,3224,3812]
DF_Loc_con_int.drop(eliminar, inplace=True)

### --> ***Penetración de Internet fijo accesos por cada 100 hogares***

In [129]:
# Se carga el archivo
Acc_hoga = pd.read_csv(r"../data/Penetración de Internet fijo accesos por cada 100 hogares.csv", encoding='utf-8')
Acc_hoga

,Año,Trimestre,Provincia,Accesos por cada 100 hogares,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,2022,4,Buenos Aires,"78,94",NaN,NaN,NaN
1,2022,4,Capital Federal,"122,73",NaN,NaN,NaN
2,2022,4,Catamarca,"65,77",NaN,NaN,NaN
3,2022,4,Chaco,"43,62",NaN,NaN,NaN
4,2022,4,Chubut,"85,57",NaN,NaN,NaN
...,...,...,...,...,...,...,...
859,2014,1,Santa Cruz,"28,94",NaN,NaN,NaN
860,2014,1,Santa Fe,"47,85",NaN,NaN,NaN
861,2014,1,Santiago Del Estero,"16,31",NaN,NaN,NaN
862,2014,1,Tierra Del Fuego,"63,97",NaN,NaN,NaN
863,2014,1,Tucumán,"33,42",NaN,NaN,NaN

In [130]:
Acc_hoga['Provincia'].unique()

array(['Buenos Aires', 'Capital Federal', 'Catamarca', 'Chaco', 'Chubut',
       'Córdoba', 'Corrientes', 'Entre Ríos', 'Formosa', 'Jujuy',
       'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquén',
       'Río Negro', 'Salta', 'San Juan', 'San Luis', 'Santa Cruz',
       'Santa Fe', 'Santiago Del Estero', 'Tierra Del Fuego', 'Tucumán'],
      dtype=object)

In [131]:
# Se renombran algunas provincias
Acc_hoga['Provincia'] = Acc_hoga['Provincia'].replace({'Capital Federal':'CABA'})
Acc_hoga['Provincia'].unique()

array(['Buenos Aires', 'CABA', 'Catamarca', 'Chaco', 'Chubut', 'Córdoba',
       'Corrientes', 'Entre Ríos', 'Formosa', 'Jujuy', 'La Pampa',
       'La Rioja', 'Mendoza', 'Misiones', 'Neuquén', 'Río Negro', 'Salta',
       'San Juan', 'San Luis', 'Santa Cruz', 'Santa Fe',
       'Santiago Del Estero', 'Tierra Del Fuego', 'Tucumán'], dtype=object)

In [132]:
# Se crea una variable con las Provincias seleccionadas
provincias_seleccionadas = ['Caba', 'Buenos Aires', 'Cordoba','Entre Rios', 'Mendoza', 'Salta', 'Santa Fe', 'Tucuman']

# Filtra el DataFrame para incluir solo las provincias seleccionadas
Acc_hoga = Acc_hoga[Acc_hoga['Provincia'].isin(provincias_seleccionadas)]
Acc_hoga

,Año,Trimestre,Provincia,Accesos por cada 100 hogares,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,2022,4,Buenos Aires,"78,94",NaN,NaN,NaN
12,2022,4,Mendoza,"51,36",NaN,NaN,NaN
16,2022,4,Salta,"57,96",NaN,NaN,NaN
20,2022,4,Santa Fe,"78,40",NaN,NaN,NaN
24,2022,3,Buenos Aires,"78,11",NaN,NaN,NaN
...,...,...,...,...,...,...,...
836,2014,2,Santa Fe,"48,39",NaN,NaN,NaN
840,2014,1,Buenos Aires,"54,57",NaN,NaN,NaN
852,2014,1,Mendoza,"31,91",NaN,NaN,NaN
856,2014,1,Salta,"28,70",NaN,NaN,NaN
860,2014,1,Santa Fe,"47,85",NaN,NaN,NaN

In [133]:
func.tipo_dato(Acc_hoga)

Año (nulos) =  0
Trimestre (nulos) =  0
Provincia (nulos) =  0
Accesos por cada 100 hogares (nulos) =  0
Unnamed: 4 (nulos) =  144
Unnamed: 5 (nulos) =  144
Unnamed: 6 (nulos) =  144

 filas completamente nulas:  0

                 Nombre_Columna          Tipo_dato  %_No_nulos  %_Nulos
0                           Año    [<class 'int'>]       100.0      0.0
1                     Trimestre    [<class 'int'>]       100.0      0.0
2                     Provincia    [<class 'str'>]       100.0      0.0
3  Accesos por cada 100 hogares    [<class 'str'>]       100.0      0.0
4                    Unnamed: 4  [<class 'float'>]         0.0    100.0
5                    Unnamed: 5  [<class 'float'>]         0.0    100.0
6                    Unnamed: 6  [<class 'float'>]         0.0    100.0

In [134]:
# se eliminan las columnas 'unnamed'
Acc_hoga = Acc_hoga[['Año','Trimestre','Provincia','Accesos por cada 100 hogares']]
Acc_hoga.columns

Index(['Año', 'Trimestre', 'Provincia', 'Accesos por cada 100 hogares'], dtype='object')

In [135]:
# Se tomaran los datos de los ultimos 3 años 
Acc_hoga = Acc_hoga[Acc_hoga['Año'] >= 2020]

In [136]:
# Se cambian las ',' por '.' para poder cambiar el tipo de dato a la columna 'Accesos...'
Acc_hoga['Accesos por cada 100 hogares'] = Acc_hoga['Accesos por cada 100 hogares'].str.replace(',', '.').astype('float')

In [137]:
# Se cambian los tipos de variables (categoricas)
Acc_hoga['Provincia'] = Acc_hoga['Provincia'].astype('category')
Acc_hoga['Trimestre'] = Acc_hoga['Trimestre'].astype('category')
Acc_hoga['Año'] = Acc_hoga['Año'].astype('category')
Acc_hoga['Accesos por cada 100 hogares'] = Acc_hoga['Accesos por cada 100 hogares'].astype('float')

In [138]:
Acc_hoga

      Año Trimestre     Provincia  Accesos por cada 100 hogares
0    2022         4  Buenos Aires                         78.94
12   2022         4       Mendoza                         51.36
16   2022         4         Salta                         57.96
20   2022         4      Santa Fe                         78.40
24   2022         3  Buenos Aires                         78.11
36   2022         3       Mendoza                         51.03
40   2022         3         Salta                         57.76
44   2022         3      Santa Fe                         78.55
48   2022         2  Buenos Aires                         77.58
60   2022         2       Mendoza                         49.39
64   2022         2         Salta                         57.54
68   2022         2      Santa Fe                         77.90
72   2022         1  Buenos Aires                         76.08
84   2022         1       Mendoza                         48.74
88   2022         1         Salta                         56.11
92   2022         1      Santa Fe                         77.30
96   2021         4  Buenos Aires                         75.66
108  2021         4       Mendoza                         47.51
112  2021         4         Salta                         56.81
116  2021         4      Santa Fe                         77.09
120  2021         3  Buenos Aires                         71.68
132  2021         3       Mendoza                         45.55
136  2021         3         Salta                         55.96
140  2021         3      Santa Fe                         75.02
144  2021         2  Buenos Aires                         70.00
156  2021         2       Mendoza                         40.97
160  2021         2         Salta                         54.93
164  2021         2      Santa Fe                         75.07
168  2021         1  Buenos Aires                         69.11
180  2021         1       Mendoza                         39.15
184  2021         1         Salta                         53.93
188  2021         1      Santa Fe                         73.92
192  2020         4  Buenos Aires                         68.98
204  2020         4       Mendoza                         38.63
208  2020         4         Salta                         54.04
212  2020         4      Santa Fe                         73.58
216  2020         3  Buenos Aires                         67.66
228  2020         3       Mendoza                         37.35
232  2020         3         Salta                         52.32
236  2020         3      Santa Fe                         72.12
240  2020         2  Buenos Aires                         65.22
252  2020         2       Mendoza                         36.25
256  2020         2         Salta                         51.58
260  2020         2      Santa Fe                         70.00
264  2020         1  Buenos Aires                         64.33
276  2020         1       Mendoza                         33.14
280  2020         1         Salta                         49.60
284  2020         1      Santa Fe                         69.52

Este DF indica la cantidad de accesos en una provincia por cada 100 hogares es por eso que existen valores altos ya que el valor expresa una relacion o proporcion en realcion con una base de 100 hogares, siendo asi un indicador realtivo.

In [139]:
# Se guardan los DF limpios para porder cargarlos en power BI para realizar el Dasshboard

ruta_carpeta = '../data/limpios/' # Ruta de la carpeta donde se van almacenar los csv´s

df_nombres = {
    'Conexiones_x_Localidad' : Df_Tec_Loc,
    'Conexiones_x_Provincia' : Df_Tec_Pro,
    'Lista_Tecnologia_x_Localidad' : Df_Lis_Tecn_Loc,
    'Acceso_x_Provincia_100Hogares' : Acc_hoga
}

# Guardar cada DataFrame con su nombre en un archivo CSV en la carpeta específica
for nombre, df in df_nombres.items():
    nombre_archivo = f'{nombre}.csv'
    df.to_csv(ruta_carpeta + nombre_archivo, index=False)