In [10]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

En este notebook se realizaran ualgunas transformaciones para poder aplicar los kpis correspondientes.

In [11]:
df = pd.read_csv("../data/limpios/Acceso_x_Provincia_100Hogares.csv")
df

     Año  Trimestre     Provincia  Accesos por cada 100 hogares
0   2022          4  Buenos Aires                         78.94
1   2022          4          CABA                        122.73
2   2022          4       Córdoba                         89.03
3   2022          4    Entre Ríos                         64.01
4   2022          4       Mendoza                         51.36
..   ...        ...           ...                           ...
91  2020          1    Entre Ríos                         56.12
92  2020          1       Mendoza                         33.14
93  2020          1         Salta                         49.60
94  2020          1      Santa Fe                         69.52
95  2020          1       Tucumán                         47.85

[96 rows x 4 columns]

In [12]:
df['Provincia'].unique()

array(['Buenos Aires', 'CABA', 'Córdoba', 'Entre Ríos', 'Mendoza',
       'Salta', 'Santa Fe', 'Tucumán'], dtype=object)

In [13]:
# Se tomaran los datos del año 2022 
df = df[df['Año'] >= 2022]

In [37]:
# Supongamos que tu DataFrame se llama df
# Filtrar el DataFrame para obtener solo los trimestres 3 y 4
trim_3 = df[df['Trimestre'] == 3]
trim_4 = df[df['Trimestre'] == 4]

# Fusionar los DataFrames en función de las columnas 'Año', 'Provincia'
df_resultado = pd.merge(trim_3, trim_4, on=['Año', 'Provincia'], suffixes=(' 3', ' 4'))


# Se cambia el tipo de dato y se redondea
df_resultado['Accesos por cada 100 hogares 3'] = df_resultado['Accesos por cada 100 hogares 3'].round().astype(int)
df_resultado['Accesos por cada 100 hogares 4'] = df_resultado['Accesos por cada 100 hogares 4'].round().astype(int)

In [38]:
df_resultado

,Año,Trimestre 3,Provincia,Accesos por cada 100 hogares 3,Trimestre 4,Accesos por cada 100 hogares 4
0,2022,3,Buenos Aires,78,4,79
1,2022,3,CABA,122,4,123
2,2022,3,Córdoba,88,4,89
3,2022,3,Entre Ríos,64,4,64
4,2022,3,Mendoza,51,4,51
5,2022,3,Salta,58,4,58
6,2022,3,Santa Fe,79,4,78
7,2022,3,Tucumán,61,4,61

In [39]:
# Se guardas el Df en un formato .csv
carpeta = '../data/limpios/'
nombre ='pki1.csv'
x = carpeta + nombre

df_resultado.to_csv(x, index=False)

In [17]:
df2 = pd.read_csv("../data/limpios/Conexiones_x_Provincia.csv")
df2

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,4,Buenos Aires,326,3,1,130,72,532
1,2022,4,CABA,139,1,139,5,32,316
2,2022,4,Córdoba,152,457,367,62,11,1049
3,2022,4,Entre Ríos,56,136,41,26,13,272
4,2022,4,Mendoza,38,78,147,28,2,293
...,...,...,...,...,...,...,...,...,...
91,2020,1,Entre Ríos,90,95,13,19,14,231
92,2020,1,Mendoza,92,50,28,12,722,904
93,2020,1,Salta,60,76,23,4,7,170
94,2020,1,Santa Fe,302,384,35,30,19,770
95,2020,1,Tucumán,143,10,45,1,347,546

In [18]:
# Especifica el año y trimestre que te interesa
año_interes = 2022
trimestre_interes = 3

# Filtra el DataFrame según el año y trimestre
df_1= df2[(df2['Año'] == año_interes) & (df2['Trimestre'] == trimestre_interes)]

# Selecciona solo las columnas relevantes (Provincia y Fibra óptica)
df_resultado = df_1[['Provincia', 'Fibra óptica']]
df_resultado

       Provincia  Fibra óptica
8   Buenos Aires             1
9           CABA           129
10       Córdoba           339
11    Entre Ríos            37
12       Mendoza           143
13         Salta            50
14      Santa Fe           215
15       Tucumán           162

In [19]:
# Especifica el año y trimestre que te interesa
año_interes = 2022
trimestre_interes = 4

# Filtra el DataFrame según el año y trimestre
df_1= df2[(df2['Año'] == año_interes) & (df2['Trimestre'] == trimestre_interes)]

# Selecciona solo las columnas relevantes (Provincia y Fibra óptica)
df_resultado = df_1[['Provincia', 'Fibra óptica']]
df_resultado

      Provincia  Fibra óptica
0  Buenos Aires             1
1          CABA           139
2       Córdoba           367
3    Entre Ríos            41
4       Mendoza           147
5         Salta            53
6      Santa Fe           249
7       Tucumán           169

In [20]:
# Filtrar solo las filas correspondientes al año 2022, trimestres 1 y 2, y las columnas de interés
df_filt = df2[(df2['Año'] == 2022) & (df2['Trimestre'].isin([1, 2]))]

# Agrupar por 'Año', 'Provincia' y sumar los valores para las columnas de interés
df_agrupado = df_filt.groupby(['Año', 'Provincia']).agg({
    'Cablemodem': 'sum',
    'Fibra óptica': 'sum'
}).reset_index()

# Renombrar las columnas si es necesario
df_agrupado = df_agrupado.rename(columns={'Cablemodem': 'Cablemodem_Semestre1', 'Fibra óptica': 'Fibra_optica_Semestre1'})
df_agrupado
# Fusionar con el DataFrame original
#df_resultado = pd.merge(df, df_agrupado, on=['Año', 'Provincia'], how='left')

    Año     Provincia  Cablemodem_Semestre1  Fibra_optica_Semestre1
0  2022  Buenos Aires                     6                       2
1  2022          CABA                     2                     184
2  2022       Córdoba                   970                     545
3  2022    Entre Ríos                   270                      59
4  2022       Mendoza                   152                     259
5  2022         Salta                   195                      88
6  2022      Santa Fe                   873                     337
7  2022       Tucumán                    77                     235

In [21]:
# Filtrar solo las filas correspondientes al año 2022, trimestres 1 y 2, y las columnas de interés
df_filt = df2[(df2['Año'] == 2022) & (df2['Trimestre'].isin([3, 4]))]

# Agrupar por 'Año', 'Provincia' y sumar los valores para las columnas de interés
df_agrupa = df_filt.groupby(['Año', 'Provincia']).agg({
    'Cablemodem': 'sum',
    'Fibra óptica': 'sum'
}).reset_index()

# Renombrar las columnas si es necesario
df_agrupado2 = df_agrupa.rename(columns={'Cablemodem': 'Cablemodem_Semestre2', 'Fibra óptica': 'Fibra_optica_Semestre2'})
df_agrupado2
# Fusionar con el DataFrame original
#df_resultado = pd.merge(df, df_agrupado, on=['Año', 'Provincia'], how='left')

    Año     Provincia  Cablemodem_Semestre2  Fibra_optica_Semestre2
0  2022  Buenos Aires                     6                       2
1  2022          CABA                     2                     268
2  2022       Córdoba                   922                     706
3  2022    Entre Ríos                   269                      78
4  2022       Mendoza                   157                     290
5  2022         Salta                   194                     103
6  2022      Santa Fe                   838                     464
7  2022       Tucumán                    40                     331

In [22]:
# Se unen los dos DF
df_final = df_agrupado.merge(df_agrupado2, on=['Año', 'Provincia'], how='inner')
orden_columnas = ['Año', 'Provincia', 'Cablemodem_Semestre1', 'Cablemodem_Semestre2', 'Fibra_optica_Semestre1', 'Fibra_optica_Semestre2']
df_final = df_final[orden_columnas]
df_final

,Año,Provincia,Cablemodem_Semestre1,Cablemodem_Semestre2,Fibra_optica_Semestre1,Fibra_optica_Semestre2
0,2022,Buenos Aires,6,6,2,2
1,2022,CABA,2,2,184,268
2,2022,Córdoba,970,922,545,706
3,2022,Entre Ríos,270,269,59,78
4,2022,Mendoza,152,157,259,290
5,2022,Salta,195,194,88,103
6,2022,Santa Fe,873,838,337,464
7,2022,Tucumán,77,40,235,331

In [23]:
# Se guardas el Df en un formato .csv
carpeta = '../data/limpios/'
nombre ='pki2.csv'
x = carpeta + nombre

df_final.to_csv(x, index=False)

In [24]:
# Se verifican los porcentajes
df_final['Porcentaje_cable'] = (((df_final['Cablemodem_Semestre2'] - df_final['Cablemodem_Semestre1']) / df_final['Cablemodem_Semestre1']) * 100).round(2)
df_final['Porcentaje_fibra'] = (((df_final['Fibra_optica_Semestre2'] - df_final['Fibra_optica_Semestre1']) / df_final['Fibra_optica_Semestre1']) * 100).round(2)

In [25]:
df_final

,Año,Provincia,Cablemodem_Semestre1,Cablemodem_Semestre2,Fibra_optica_Semestre1,Fibra_optica_Semestre2,Porcentaje_cable,Porcentaje_fibra
0,2022,Buenos Aires,6,6,2,2,0.00,0.00
1,2022,CABA,2,2,184,268,0.00,45.65
2,2022,Córdoba,970,922,545,706,-4.95,29.54
3,2022,Entre Ríos,270,269,59,78,-0.37,32.20
4,2022,Mendoza,152,157,259,290,3.29,11.97
5,2022,Salta,195,194,88,103,-0.51,17.05
6,2022,Santa Fe,873,838,337,464,-4.01,37.69
7,2022,Tucumán,77,40,235,331,-48.05,40.85