In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

En este notebook se realizaran ualgunas transformaciones para poder aplicar los kpis correspondientes.

In [2]:
df = pd.read_csv("../data/limpios/Acceso_x_Provincia_100Hogares.csv")
df

     AÃ±o  Trimestre     Provincia  Accesos por cada 100 hogares
0   2022          4  Buenos Aires                         78.94
1   2022          4       Mendoza                         51.36
2   2022          4         Salta                         57.96
3   2022          4      Santa Fe                         78.40
4   2022          3  Buenos Aires                         78.11
5   2022          3       Mendoza                         51.03
6   2022          3         Salta                         57.76
7   2022          3      Santa Fe                         78.55
8   2022          2  Buenos Aires                         77.58
9   2022          2       Mendoza                         49.39
10  2022          2         Salta                         57.54
11  2022          2      Santa Fe                         77.90
12  2022          1  Buenos Aires                         76.08
13  2022          1       Mendoza                         48.74
14  2022          1         Salta                         56.11
15  2022          1      Santa Fe                         77.30
16  2021          4  Buenos Aires                         75.66
17  2021          4       Mendoza                         47.51
18  2021          4         Salta                         56.81
19  2021          4      Santa Fe                         77.09
20  2021          3  Buenos Aires                         71.68
21  2021          3       Mendoza                         45.55
22  2021          3         Salta                         55.96
23  2021          3      Santa Fe                         75.02
24  2021          2  Buenos Aires                         70.00
25  2021          2       Mendoza                         40.97
26  2021          2         Salta                         54.93
27  2021          2      Santa Fe                         75.07
28  2021          1  Buenos Aires                         69.11
29  2021          1       Mendoza                         39.15
30  2021          1         Salta                         53.93
31  2021          1      Santa Fe                         73.92
32  2020          4  Buenos Aires                         68.98
33  2020          4       Mendoza                         38.63
34  2020          4         Salta                         54.04
35  2020          4      Santa Fe                         73.58
36  2020          3  Buenos Aires                         67.66
37  2020          3       Mendoza                         37.35
38  2020          3         Salta                         52.32
39  2020          3      Santa Fe                         72.12
40  2020          2  Buenos Aires                         65.22
41  2020          2       Mendoza                         36.25
42  2020          2         Salta                         51.58
43  2020          2      Santa Fe                         70.00
44  2020          1  Buenos Aires                         64.33
45  2020          1       Mendoza                         33.14
46  2020          1         Salta                         49.60
47  2020          1      Santa Fe                         69.52

In [3]:
# Se tomaran los datos del aÃ±o 2022 
df = df[df['AÃ±o'] >= 2022]

In [4]:
# Supongamos que tu DataFrame se llama df
# Filtrar el DataFrame para obtener solo los trimestres 3 y 4
trim_3 = df[df['Trimestre'] == 3]
trim_4 = df[df['Trimestre'] == 4]

# Fusionar los DataFrames en funciÃ³n de las columnas 'AÃ±o', 'Provincia'
df_resultado = pd.merge(trim_3, trim_4, on=['AÃ±o', 'Provincia'], suffixes=(' 3', ' 4'))


# Calcular la diferencia entre los valores de los trimestres 4 y 3
df_resultado['Diferencia_Accesos'] = (((df_resultado['Accesos por cada 100 hogares 4'] - df_resultado['Accesos por cada 100 hogares 3']) / df_resultado['Accesos por cada 100 hogares 3']) * 100).round(2)

In [5]:
df_resultado

,AÃ±o,Trimestre 3,Provincia,Accesos por cada 100 hogares 3,Trimestre 4,Accesos por cada 100 hogares 4,Diferencia_Accesos
0,2022,3,Buenos Aires,78.11,4,78.94,1.06
1,2022,3,Mendoza,51.03,4,51.36,0.65
2,2022,3,Salta,57.76,4,57.96,0.35
3,2022,3,Santa Fe,78.55,4,78.40,-0.19

In [6]:
# Se guardas el Df en un formato .csv
carpeta = '../data/limpios/'
nombre ='pki1.csv'
x = carpeta + nombre

df_resultado.to_csv(x, index=False)

In [7]:
df2 = pd.read_csv("../data/limpios/Conexiones_x_Provincia.csv")
df2

,AÃ±o,Trimestre,Provincia,ADSL,Cablemodem,Fibra Ã³ptica,Wireless,Otros,Total
0,2022,4,Buenos Aires,326,3,1,130,72,532
1,2022,4,CABA,139,1,139,5,32,316
2,2022,4,CÃ³rdoba,152,457,367,62,11,1049
3,2022,4,Entre RÃ­os,56,136,41,26,13,272
4,2022,4,Mendoza,38,78,147,28,2,293
...,...,...,...,...,...,...,...,...,...
91,2020,1,Entre RÃ­os,90,95,13,19,14,231
92,2020,1,Mendoza,92,50,28,12,722,904
93,2020,1,Salta,60,76,23,4,7,170
94,2020,1,Santa Fe,302,384,35,30,19,770
95,2020,1,TucumÃ¡n,143,10,45,1,347,546

In [8]:
# Especifica el aÃ±o y trimestre que te interesa
aÃ±o_interes = 2022
trimestre_interes = 3

# Filtra el DataFrame segÃºn el aÃ±o y trimestre
df_1= df2[(df2['AÃ±o'] == aÃ±o_interes) & (df2['Trimestre'] == trimestre_interes)]

# Selecciona solo las columnas relevantes (Provincia y Fibra Ã³ptica)
df_resultado = df_1[['Provincia', 'Fibra Ã³ptica']]
df_resultado

       Provincia  Fibra Ã³ptica
8   Buenos Aires             1
9           CABA           129
10       CÃ³rdoba           339
11    Entre RÃ­os            37
12       Mendoza           143
13         Salta            50
14      Santa Fe           215
15       TucumÃ¡n           162

In [9]:
# Especifica el aÃ±o y trimestre que te interesa
aÃ±o_interes = 2022
trimestre_interes = 4

# Filtra el DataFrame segÃºn el aÃ±o y trimestre
df_1= df2[(df2['AÃ±o'] == aÃ±o_interes) & (df2['Trimestre'] == trimestre_interes)]

# Selecciona solo las columnas relevantes (Provincia y Fibra Ã³ptica)
df_resultado = df_1[['Provincia', 'Fibra Ã³ptica']]
df_resultado

      Provincia  Fibra Ã³ptica
0  Buenos Aires             1
1          CABA           139
2       CÃ³rdoba           367
3    Entre RÃ­os            41
4       Mendoza           147
5         Salta            53
6      Santa Fe           249
7       TucumÃ¡n           169

In [10]:
# Filtrar solo las filas correspondientes al aÃ±o 2022, trimestres 1 y 2, y las columnas de interÃ©s
df_filt = df2[(df2['AÃ±o'] == 2022) & (df2['Trimestre'].isin([1, 2]))]

# Agrupar por 'AÃ±o', 'Provincia' y sumar los valores para las columnas de interÃ©s
df_agrupado = df_filt.groupby(['AÃ±o', 'Provincia']).agg({
    'Cablemodem': 'sum',
    'Fibra Ã³ptica': 'sum'
}).reset_index()

# Renombrar las columnas si es necesario
df_agrupado = df_agrupado.rename(columns={'Cablemodem': 'Cablemodem_Semestre1', 'Fibra Ã³ptica': 'Fibra_optica_Semestre1'})
df_agrupado
# Fusionar con el DataFrame original
#df_resultado = pd.merge(df, df_agrupado, on=['AÃ±o', 'Provincia'], how='left')

    AÃ±o     Provincia  Cablemodem_Semestre1  Fibra_optica_Semestre1
0  2022  Buenos Aires                     6                       2
1  2022          CABA                     2                     184
2  2022       CÃ³rdoba                   970                     545
3  2022    Entre RÃ­os                   270                      59
4  2022       Mendoza                   152                     259
5  2022         Salta                   195                      88
6  2022      Santa Fe                   873                     337
7  2022       TucumÃ¡n                    77                     235

In [11]:
# Filtrar solo las filas correspondientes al aÃ±o 2022, trimestres 1 y 2, y las columnas de interÃ©s
df_filt = df2[(df2['AÃ±o'] == 2022) & (df2['Trimestre'].isin([3, 4]))]

# Agrupar por 'AÃ±o', 'Provincia' y sumar los valores para las columnas de interÃ©s
df_agrupa = df_filt.groupby(['AÃ±o', 'Provincia']).agg({
    'Cablemodem': 'sum',
    'Fibra Ã³ptica': 'sum'
}).reset_index()

# Renombrar las columnas si es necesario
df_agrupado2 = df_agrupa.rename(columns={'Cablemodem': 'Cablemodem_Semestre2', 'Fibra Ã³ptica': 'Fibra_optica_Semestre2'})
df_agrupado2
# Fusionar con el DataFrame original
#df_resultado = pd.merge(df, df_agrupado, on=['AÃ±o', 'Provincia'], how='left')

    AÃ±o     Provincia  Cablemodem_Semestre2  Fibra_optica_Semestre2
0  2022  Buenos Aires                     6                       2
1  2022          CABA                     2                     268
2  2022       CÃ³rdoba                   922                     706
3  2022    Entre RÃ­os                   269                      78
4  2022       Mendoza                   157                     290
5  2022         Salta                   194                     103
6  2022      Santa Fe                   838                     464
7  2022       TucumÃ¡n                    40                     331

In [12]:
# Se unen los dos DF
df_final = df_agrupado.merge(df_agrupado2, on=['AÃ±o', 'Provincia'], how='inner')
orden_columnas = ['AÃ±o', 'Provincia', 'Cablemodem_Semestre1', 'Cablemodem_Semestre2', 'Fibra_optica_Semestre1', 'Fibra_optica_Semestre2']
df_final = df_final[orden_columnas]
df_final

,AÃ±o,Provincia,Cablemodem_Semestre1,Cablemodem_Semestre2,Fibra_optica_Semestre1,Fibra_optica_Semestre2
0,2022,Buenos Aires,6,6,2,2
1,2022,CABA,2,2,184,268
2,2022,CÃ³rdoba,970,922,545,706
3,2022,Entre RÃ­os,270,269,59,78
4,2022,Mendoza,152,157,259,290
5,2022,Salta,195,194,88,103
6,2022,Santa Fe,873,838,337,464
7,2022,TucumÃ¡n,77,40,235,331

In [13]:
# Se guardas el Df en un formato .csv
carpeta = '../data/limpios/'
nombre ='pki2.csv'
x = carpeta + nombre

df_final.to_csv(x, index=False)

In [14]:
# Se verifican los porcentajes
df_final['Porcentaje_cable'] = (((df_final['Cablemodem_Semestre2'] - df_final['Cablemodem_Semestre1']) / df_final['Cablemodem_Semestre1']) * 100).round(2)
df_final['Porcentaje_fibra'] = (((df_final['Fibra_optica_Semestre2'] - df_final['Fibra_optica_Semestre1']) / df_final['Fibra_optica_Semestre1']) * 100).round(2)

In [15]:
df_final

,AÃ±o,Provincia,Cablemodem_Semestre1,Cablemodem_Semestre2,Fibra_optica_Semestre1,Fibra_optica_Semestre2,Porcentaje_cable,Porcentaje_fibra
0,2022,Buenos Aires,6,6,2,2,0.00,0.00
1,2022,CABA,2,2,184,268,0.00,45.65
2,2022,CÃ³rdoba,970,922,545,706,-4.95,29.54
3,2022,Entre RÃ­os,270,269,59,78,-0.37,32.20
4,2022,Mendoza,152,157,259,290,3.29,11.97
5,2022,Salta,195,194,88,103,-0.51,17.05
6,2022,Santa Fe,873,838,337,464,-4.01,37.69
7,2022,TucumÃ¡n,77,40,235,331,-48.05,40.85